In [50]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [51]:
data_set = pd.read_csv("dataset2.csv")

In [52]:
data_set.head()

   size(feet2)  number of bedrooms   price(in $)
0         2104                   3        399900
1         1600                   3        329900
2         2400                   3        369000
3         1416                   2        232000
4         3000                   4        539900

In [53]:
data_set['size(feet2)'] = data_set['size(feet2)']/1000
data_set[' price(in $)'] = data_set[' price(in $)']/100000

In [54]:
x_data = pd.DataFrame({'number of bedrooms': data_set['number of bedrooms'],
                       'size(feet2)': data_set['size(feet2)']})
y_data = pd.DataFrame({'price(in $)': data_set[' price(in $)']})

In [101]:
b_init = np.array([7.851811367994083])
w_init = np.array([0.39133535, 18.75376741])

In [102]:
def compute_cost(x, y, w, b):
    cost = 0
    for i in range()

SyntaxError: expected ':' (2965084863.py, line 3)

In [103]:
x_data.head()

   number of bedrooms  size(feet2)
0                   3        2.104
1                   3        1.600
2                   3        2.400
3                   2        1.416
4                   4        3.000

In [104]:
y_data.head()

   price(in $)
0        3.999
1        3.299
2        3.690
3        2.320
4        5.399

In [105]:
np.dot(x_data.iloc[0], w_init)

40.63193268064

In [106]:
def compute_cost(x, y, w, b):
    m = x.shape[0]
    cost = 0
    for i in range(m):
        wj = np.dot(x.iloc[0], w) + b
        cost += (wj - y[i])**2
    cost /= (2*m)
    return cost

In [107]:
x_data.iloc[0, 0]

3

In [127]:
def compute_gradient(x, y, w, b):
    m, n = x.shape
    dj_db = 0
    dj_dw = np.zeros(n)
    for i in range(m):
        wj = (np.dot(x.iloc[i], w) + b) - y.iloc[i, 0]
        for j in range(n):
            dj_dw[j] += wj + x.iloc[i, j]
        dj_db += wj
    dj_dw /= m
    dj_db /= m
    return dj_dw, dj_db

In [123]:
def gradient_descent(x, y, w, b, i, lr, compute_cost):
    history = []
    for i in range(i):
        history.append(compute_cost(x, y, w, b))
        dj_dw, dj_db = compute_gradient(x, y, w, b)
        w -= dj_dw*lr
        b -= dj_db*lr
    return history

In [124]:
w_init = pd.DataFrame(w_init)
b_init = pd.DataFrame(b_init)

In [128]:
h = gradient_descent(x_data, y_data, w_init, b_init, 300, 0.005, compute_cost)
h

KeyError: 0